.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.7); /* darker */
  backdrop-filter: blur(2px); /* optional blur */
}
/* Custom width for modal */
.custom-modal-width {
  width: 100%;
  max-width:750px;
  border-radius: 20px;
}

.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}

.modal-content {
  border-radius: 20px;
  padding: 10px;
}

